@model ComparePostVM

<div class="row">
    <div class="col-6">
        <div class="card m-3" style="width: 18rem;">

            <div class="mb-1 align-self-end"></div>
            <p class="card-text fw-lighter mt-auto"><i>@Model.Post1.Title</i></p>
            <h6 class="card-price mt-3">€@Model.Post1.Price.ToString()</h6>
            <img src="@Model.Post1.CoverImage" height="200px" class="card-img-top" alt="deneme">
            <div class="card-body d-flex flex-column">

                <label>Marka:</label>
                <p class="card-text">@Model.Car1.Make</p>

                <label>Model:</label>
                <p class="card-text">@Model.Car1.Model</p>

                <label>:</label>
                <p class="card-text">@Model.Car1.Year</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car1.Kilometer</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car1.HorsePower</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car1.Category.Name</p>

                <hr class="mt-1 mb-2" />
                <p class="card-text fw-lighter mt-auto"><i>@Model.Post1.Description</i></p>

            </div>
    </div>
    <div class="col 6">
        <div class="card m-3" style="width: 18rem;">

            <div class="mb-1 align-self-end"></div>
            <p class="card-text fw-lighter mt-auto"><i>@Model.Post2.Title</i></p>
            <h6 class="card-price mt-3">@Model.Post2.Price.ToString() TL</h6>
            <img src="@Model.Post2.CoverImage" height="200px" class="card-img-top" alt="deneme">
            <div class="card-body d-flex flex-column">

                <label>Marka:</label>
                <p class="card-text">@Model.Car2.Make</p>

                <label>Model:</label>
                <p class="card-text">@Model.Car2.Model</p>

                <label>:</label>
                <p class="card-text">@Model.Car2.Year</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car2.Kilometer</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car2.HorsePower</p>

                <label>Marka:</label>
                <p class="card-text">@Model.Car2.Category.Name</p>

                <hr class="mt-1 mb-2" />
                <p class="card-text fw-lighter mt-auto"><i>@Model.Post2.Description</i></p>

            </div>

    </div>
</div>